/* Stylesheet */

body {  
  /* Sharpie Font */
  font-family: 'Sharpie-Regular', sans-serif;

  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
}

/* Apply Font */
main {
  font-size: 5vmin;
  text-align: center;
  
  /* Add contrast to text */
  background-color: rgba(255, 255, 255, 0.25);
}