/* Stylesheet */

body {  
  /* Kalam Font */
  font-family: 'Kalam-Light', sans-serif;
  color: #C36569;

  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
  background-color: #FAF0E6;
}

/* Apply Font */
main {
  font-size: 5vmin;
  text-align: center;
  
  /* Add contrast to text */
  background-color: #faf0e6e8;
  border-radius: 20px;
}

nav {
    margin-top: 50px;
  }

.book {
  height: 500px;
  margin: 0px 50px;
}

#icon {
  height: 300px;
}